*{
    margin: 0px;
    padding: 0px;
}
.caixa{
    width: 940px;
    position:relative;
    margin: 0 auto;
}
header{
    background: #cccccc;
    padding: 0 20px;
}
nav{
    position:absolute;
    top:110px;
    right:0;
}
nav li{
    display: inline;
    margin: 0 0 0 12px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    font-size: 23px;
    text-decoration: underline;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border-radius: 10px;
    border: 2px solid #000000;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}
.produtos li:hover {
    border-color: #c78c19;
}
.produtos li:active{
    border-color: #088c19;
}
.produtos li:hover h2 {
    font-size: 34px;
}
.produtos h2{
    font-size: 30px;
    font-weight:bold;
}
.produto-preco{
    font-weight: bold;
    font-size:22px;
    margin: 10px 0 0 0;
}
.produto-descricao{
    font-size:18px;
}
footer{
    text-align:center;
    padding:40px;
    background:url("../imagem/bg.jpg")
}
.copyright{
    color:#ffffff;
    font-size:15px;
    margin: top 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label,form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin:20px 0px;
}
fieldset{
    border:0px;
}
.enviar{
    width:40%;
    padding:15px 0px;
    background:orange;
    color:white;
    font-weight: bold;
    font-size:18px;
    border:none;
    border-radius:4px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background:darkorange;
    transform: scale(1.2);
}
table{
    margin: 20px 0px 40px 0px;
}
thead{
    color: white;
    background:#555555;
    font-weight: bold;
}
td, th{
    border:1px solid #000000;
    padding: 8px 15px;
}